* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

input {
    width: 100%;
    height: 51px;
    border: 1px solid #e8e8e8;
    background-color: #fdfafa;
    padding: 16px 25px;
    border-radius: 4px;

    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

    &::placeholder {
        color: #968b8b;
    }
}

button {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    &:hover {
        opacity: 0.9;
    }
}

.btn--green {
    width: 100%;
    height: 51px;
    border-radius: 8px;
    border-radius: 8px;
    background-color: #216e39;
    color: #fff;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    
    color: #555555;
    font-family: var(--font-roboto);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: left;
}
